footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background: var(--bg-darker);
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote {
    font-style: italic;
    color: var(--text-primary);
    opacity: 0.8;
    font-size: var(--font-size-small);
    transition: opacity 0.5s;
    height: var(--footer-height)*0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
